{{!-- {{log (concat "Clock Context of " name) this}} --}}

<div class="clock-container">

  <div id="{{id}}" class="clock" data-id="{{id}}" data-name="{{name}}" data-max="{{max}}" data-value="{{value}}" data-flag-target="{{targetFlag}}.value">

    <!-- Background -->
    <image class="clock-bg" src="modules/eunos-lancer-hacks/assets/clocks/clock-bg.webp" />

    <!-- Frame -->
    <image class="clock-frame" src="modules/eunos-lancer-hacks/assets/clocks/clock-{{max}}-frame.webp" />

    <!-- Fill -->
    <div class="clock-fill">
      <svg viewBox="0 0 400 400">
        <circle cx="200" cy="200" r="200" fill="{{color}}" />
      </svg>
    </div>

    {{!-- Single Segments for Animation --}}
    <div class="clock-one-segment">
      <svg viewBox="0 0 400 400">
        <circle cx="200" cy="200" r="200" fill="{{color}}" />
      </svg>
    </div>
    <div class="clock-one-segment">
      <svg viewBox="0 0 400 400">
        <circle cx="200" cy="200" r="200" fill="{{color}}" />
      </svg>
    </div>
    <div class="clock-one-segment">
      <svg viewBox="0 0 400 400">
        <circle cx="200" cy="200" r="200" fill="{{color}}" />
      </svg>
    </div>

    <!-- Label -->
    <input class="clock-label" type="text" data-flag-target="{{targetFlag}}.name" value="{{name}}" placeholder="{{placeholder}}"/>

    <!-- Delete Clock -->
    <a class="clock-delete-button" data-action="delete-clock">
      <i class="fas fa-trash"></i>
    </a>


  </div>

</div>