{{log "Submenu Context" this}}

{{!-- {
    "selectConfig": {
        "name": "Select BarBrawl Config",
        "hint": "Choose one of the provided BarBrawl configurations to use.",
        "type": "Select",
        "choices": [
            {
                "name": "none",
                "display": "Apply No Configuration"
            },
            {
                "name": "custom",
                "display": "Apply Euno's Custom Configuration"
            },
            {
                "name": "Kuenaimaku",
                "display": "Apply Config 'Kuenaimaku'"
            },
            {
                "name": "Bolts",
                "display": "Apply Config 'Bolts'"
            },
            {
                "name": "Valkyrion",
                "display": "Apply Config 'Valkyrion'"
            },
            {
                "name": "dodgepong",
                "display": "Apply Config 'dodgepong'"
            }
        ],
        "default": "custom",
        "value": "custom"
    },
    "toggleBarBrawl": {
        "name": "Enable Barbrawl Hacks",
        "hint": "Enable or disable customization of the BarBrawl toolbars.",
        "type": "Checkbox",
        "default": true,
        "value": true
    }
} --}}

<form>
  {{#each data as |data key|}}
    {{#if (eq data.inputType "Checkbox")}}
    <div class="settings-container checkbox-container">
      <label class="setting-name">{{data.name}}</label>
      <span class="setting-hint">{{data.hint}}</span>
      <input type="checkbox" data-key="{{key}}" {{#if data.value}}checked{{/if}}>
    {{/if}}
    {{#if (eq data.inputType "Select")}}
    <div class="settings-container select-container">
      <label class="setting-name">{{data.name}}</label>
      <span class="setting-hint">{{data.hint}}</span>
      <select name="selectConfig" data-key="{{key}}">
        {{#select data.value}}
        {{#each data.choices as |display name|}}
        <option value="{{name}}">{{display}}</option>
        {{/each}}
        {{/select}}
      </select>
    {{/if}}
    {{#if (eq data.inputType "Button")}}
      <button data-key="{{key}}">{{data.name}}</button>
    {{/if}}
  {{/each}}
  <button type="submit">OK</button>
</form>