{{!-- Context = resolved in code to include flags.eunos-lancer-hacks namespace as well as derived data --}}

    {{log "*** BONDS TAB CONTEXT ***" this}}
    <div class="tab bonds flexcol" data-group="primary" data-tab="bonds">
      {{#if isBondsActive}}
      <div class="bond-card-container">
        {{#if bond}}
        <img src="modules/eunos-lancer-hacks/assets/bond-cards/bond-card-{{bond}}.webp" alt="{{bond}} card" class="bond-card">
        {{/if}}
      </div>
      <div class="wraprow double bond-wrap-row">
        <div class="flexcol bond-col">
          <div class="bond-section bond-main collapsible-section">
            <div class="bond-title clipped-top major">
              <span class="bond-title-label">{{bondTitle}}</span>
              {{!-- <select class="bond-title-label" data-flag-target="bond" data-dtype="String">
              {{#select bond}}
                {{#each bondTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
              {{/select}}
              </select> --}}
            </div>
            <input class="section-collapse-button" type="checkbox" data-action="collapse" data-flag-target="collapse.main" {{#if collapse.main}}checked{{/if}}>
            <span class="section-collapse-icon">
              <i class="mdi mdi-unfold-less-horizontal"></i>
            </span>
            <div class="collapse-container">
              <div class="bond-header ideals-header major-ideals-header">
                <span>Major Ideals</span>
              </div>
              <div class="bond-subsection">
                <ul class="bond-major-ideals">
                {{#each bondMajorIdeals as |ideal index|}}
                <li class="bond-ideal bond-major-ideal">
                  <span>{{ideal}}</span>
                </li>
                {{/each}}
                </ul>
              </div>
              <div class="bond-header ideals-header minor-ideals-header">
                <span>Minor Ideal</span>
              </div>
              <div class="bond-subsection">
                {{!-- <ul class="bond-major-ideals"> --}}
                {{!-- <li class="bond-ideal bond-minor-ideal"> --}}
                  <select data-flag-target="minorIdeal" data-dtype="String">
                  {{#select bondMinorIdeal}}
                    {{#each bondMinorIdeals }}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                  {{/select}}
                  </select>
              </div>
              {{#if isBoonActive}}
              <div class="bond-header ideals-header boon-header">
                <span>{{bondBoon.name}}</span>
              </div>
              <div class="bond-subsection">
                {{{bondBoon.description}}}
              </div>
              {{/if}}
              {{#each bondQuestions as |data index|}}
              <div class="bond-header ideals-header questions-header">
                <span>{{data.question}}</span>
              </div>
              <div class="bond-subsection">
                <span class="bond-ideal">{{data.answer}}</span>
                {{!-- <input class="bond-answer" type="text" data-flag-target="bondQuestions.{{index}}.answer" value="{{data.answer}}"> --}}
              </div>
              {{/each}}
            </div>
          </div>
          <div class="bond-section stress-track collapsible-section">
            <div class="card dotline-container stress-dotline clipped-top major">
              <label class="dotline-label">// STRESS //</label>
              {{> "modules/eunos-lancer-hacks/templates/partials/dotline.hbs" pilotStress }}
            </div>
            <input class="section-collapse-button" type="checkbox" data-action="collapse" data-flag-target="collapse.stress" {{#if collapse.stress}}checked{{/if}}>
            <span class="section-collapse-icon">
              <i class="mdi mdi-unfold-less-horizontal"></i>
            </span>
            <div class="collapse-container">
              <div class="card container-card clocks-container burdens-container clipped-bot">
                {{#each burdens}}
                {{> "modules/eunos-lancer-hacks/templates/partials/clock.hbs" }}
                {{/each}}
                {{!-- <div class="burden-box clock-container" data-value="{{burdens.minor4.value}}" data-max="4"></div>
                <div class="burden-box clock-container" data-value="{{burdens.minor6.value}}" data-max="6"></div>
                <div class="burden-box clock-container" data-value="{{burdens.major.value}}" data-max="10"></div> --}}
              </div>
            </div>
          </div>
        </div>
        <div class="flexcol bond-col">
          <div class="bond-section xp-track">
            <div class="card dotline-container xp-dotline clipped major">
              <label class="dotline-label">// EXPERIENCE //</label>
              {{> "modules/eunos-lancer-hacks/templates/partials/dotline.hbs" pilotXP }}
            </div>
          </div>
          <div class="bond-section powers-section collapsible-section">
            <div class="card title-card clipped-top major powers-title-card">
              <span class="powers-title">// POWERS //</span>
            </div>
            <input class="section-collapse-button" type="checkbox" data-action="collapse" data-flag-target="collapse.powers.main" {{#if collapse.powers.main}}checked{{/if}}>
            <span class="section-collapse-icon">
              <i class="mdi mdi-unfold-less-horizontal"></i>
            </span>
            <div class="collapse-container">
              <div class="card container-card powers-container clipped-bot">
              {{#each bondPowers as |data key|}}
                <div class="power-card-container collapsible-section">
                  <h1 class="card-header powers-header">
                    <span class="power-name {{~#if data.isVeteran}} veteran-power{{/if}}">{{data.name}}</span>
                    {{#if data.frequency}}
                    <div class="power-frequency-container">
                      <span class="power-frequency {{~#if (test data.uses "===" 0)}} used-up{{/if}}">{{data.frequency}} / Session</span>
                      {{#unless (test data.uses "===" 0)}}
                      <div class="usage-tracker">
                        {{#forloop 1 data.frequency}}
                          <i class="cci cci-system-point i--dark i--m {{~#unless (test this "<=" data.uses)}} used{{/unless}}" data-this="{{this}}" data-uses="{{data.uses}}"></i>
                        {{/forloop}}
                      </div>
                      {{/unless}}
                    </div>
                    {{/if}}
                    {{#unless (test data.uses "===" 0)}}
                    <a class="use-power-button {{~#if (test data.uses "===" 0)}} used{{/if}}" data-action="use-power" data-power="{{key}}" {{~#if data.frequency}} data-flag-target="bondPowers.{{key}}.uses"{{/if}}>
                      <i class="fas fa-duotone fa-galaxy"></i>
                    </a>
                    {{/unless}}
                  </h1>
                  <input class="section-collapse-button" type="checkbox" data-action="collapse" data-flag-target="collapse.powers.{{key}}" {{#if (lookup ../collapse.powers key)}}checked{{/if}}>
                  <span class="section-collapse-icon">
                    <i class="mdi mdi-unfold-less-horizontal"></i>
                  </span>
                  <div class="collapse-container">
                    {{{description}}}
                  </div>
                </div>
              {{/each}}
              </div>
            </div>
            {{!-- {
              "Possession": {
                  "name": "Possession",
                  "bond": "magus",
                  "frequency": 2,
                  "description": "Ask a dark presence deep inside of you for advice on a course of action. The GM answers and you get either <b>+1 Accuracy</b> or <b>increased effect</b> on your next action following this advice (GM choice).",
                  "key": "Possession",
                  "isVeteran": false
              }
            } --}}
          </div>
          <div class="bond-section clocks-section collapsible-section">
            <div class="card title-card clipped-top major clocks-title-card">
              <span class="clocks-title">// CLOCKS //</span>
              <span class="clock-add-panel">
                <a class="clock-add-button" data-action="add-clock" data-size="4">4</a>
                <a class="clock-add-button" data-action="add-clock" data-size="6">6</a>
                <a class="clock-add-button" data-action="add-clock" data-size="8">8</a>
                <a class="clock-add-button" data-action="add-clock" data-size="10">10</a>
              </span>
            </div>
            <input class="section-collapse-button" type="checkbox" data-action="collapse" data-flag-target="collapse.clocks" {{#if collapse.clocks}}checked{{/if}}>
            <span class="section-collapse-icon">
              <i class="mdi mdi-unfold-less-horizontal"></i>
            </span>
            <div class="collapse-container">
              <div class="card container-card clocks-container general-clocks-container clipped-bot">
                {{#each clocks}}
                  {{> "modules/eunos-lancer-hacks/templates/partials/clock.hbs" }}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{else}}
      <div class="card clipped">
        <div class="lancer-title clipped-top major">
          // Unsynchronized Bonds Data //
        </div>
        <p class="unsynced-data-message">
          To enable tracking of your Bonds, configure them in the COMP/CON app for your pilot, then Sync your sheet.
        </p>
      </div>
      {{/if}}
    </div>